// Provides a base icon set for html page.



// development:
// @use "node_modules/@heymarco/sass-class-template/index" as *;
// @use "node_modules/@heymarco/sass-selector/index"       as selector;

// production:
@use "../../../node_modules/@heymarco/sass-class-template/index" as *;
@use "../../../node_modules/@heymarco/sass-selector/index"       as selector;



$alias              : "%icon-base"                          !default;
$class              : ".icon"                               !default;
$var-root           : ":root"                               !default;
$var-prefix         : "icon"                                !default;
$var-prefix-base    : ""                                    !default;
$cssvar: make-cssvar($var-prefix, $var-prefix-base);

$display            : inline-block                          !default;
$vertical-align     : middle                                !default;

$color              : currentColor                          !default;

$size               : var(#{$cssvar}size-default)           !default;
$size-default       : var(#{$cssvar}size-nm)                !default;
$size-sm            : 18px                                  !default;
$size-nm            : 24px                                  !default;
$size-md            : 36px                                  !default;
$size-lg            : 48px                                  !default;



@include declare-cssvar($var-root) {
    #{$cssvar}color             : #{$color};

    #{$cssvar}size              : #{$size};
    #{$cssvar}size-default      : #{$size-default};
    #{$cssvar}size-sm           : #{$size-sm};
    #{$cssvar}size-nm           : #{$size-nm};
    #{$cssvar}size-md           : #{$size-md};
    #{$cssvar}size-lg           : #{$size-lg};
}



/* begin: general style */
@mixin _style($include) {
    display                     : $display;
    vertical-align              : $vertical-align;


    /* begin: variant-size */
    @each $size in (sm, nm, md, lg) { @include selector.append("." + $size) {
        #{$cssvar}size: var(#{$cssvar}size-#{$size});
    }}
    /* end: variant-size */
}
@mixin style {
    @include _style(true);
}
@include alias($alias) {
    @include _style(false);
}
/* end: general style */



// abstract class => no emit class
// @include class($alias, $class, "");